.badge {
  display: inline-block;
  line-height: 16px;
}

@each $name, $value in $theme-text-colors {
  .badge-#{$name} {
    background-color: lighten($color: $value, $amount: 40);
    color: darken($color: $value, $amount: 20);
    svg {
      path {
        stroke: $value;
      }
    }
  }

  [data-bs-theme='dark'] {
    .badge-#{$name} {
      background-color: darken($color: $value, $amount: 40);
      color: lighten($color: $value, $amount: 20);
      svg {
        path {
          stroke: $value;
        }
      }
    }
  }
}
