.card {
  .card-header {
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 0;
    gap: 0.5rem;

    .title {
      color: $gray-900;
      margin-bottom: 0.25rem;
    }
    .desc {
      font-size: $font-size-sm;
      margin-bottom: 0;
    }
  }

  .card-body {
    border: none;
  }
}

.change-image-card {
  .text {
    .name {
      color: $gray-900;
      margin-bottom: 0.25rem;
    }

    .email {
      margin-bottom: 0;
      font-size: $font-size-sm;
    }
  }
}

.language-info-card {
  .dropdown {
    .dropdown-menu::before,
    .dropdown-menu::after {
      background-color: $white !important;
    }
  }
}

[data-bs-theme='dark'] {
  .card {
    border-color: #323232;
    background-color: #272727;

    .card-header {
      .title {
        color: #fff;
      }
    }
  }

  .change-image-card {
    .text {
      .name {
        color: #fff;
      }
    }
  }
}
