.offcanvas-backdrop {
  background: linear-gradient(45deg, $gray-200 0%, rgba(229, 233, 236, 0) 100%);
}

.offcanvas.offcanvas-bottom {
  left: 50%;
  transform: translate(-50%, 100%);
}
.offcanvas.offcanvas-bottom.show:not(.hiding) {
  transform: translate(-50%, 0);
}
.offcanvas-action-text {
  font-size: $font-size-sm;
  margin-bottom: 0;
  line-height: 32px;
  color: $gray-800;
}

[data-bs-theme='dark'] {
  .offcanvas-backdrop {
    background: linear-gradient(45deg, $gray-800 0%, rgba(68, 75, 75, 0) 100%);
  }
  .offcanvas-action-text {
    color: $gray-200;
  }
}
