//
// Custom background helpers
//
// Background theme light colors
@each $name,
$color in $theme-text-colors {

    // Base
    .bg-#{$name} {
        background-color: $color !important;
    }

    // Hover
    .bg-hover-#{$name} {
        cursor: pointer;

        &:hover {
            background-color: $color !important;
        }
    }

    // Active 
    .bg-active-#{$name} {
        &.active {
            background-color: $color !important;
        }
    }
}

.gradient-image-box {
    background: linear-gradient(90deg, #FFF 35.33%, rgba(255, 255, 255, 0.00) 89.34%), var(--background), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;

    &.disabled {
        background-blend-mode: luminosity;
    }
}