//
// Text
//
// Text colors
// [data-bs-theme='light'] {

@each $name, $color in $theme-text-colors {
  // Base
  .text-#{$name} {
    color: $color !important;
  }

  // Hover
  .text-hover-#{$name} {
    cursor: pointer;

    &:hover {
      color: $color !important;

      i {
        color: $color !important;
      }

      .svg-icon {
        path {
          stroke: $color;
        }
      }
    }
  }

  // Active Parent
  .active-box {
    .active-parent-text-#{$name} {
      color: $color;
    }
  }

  // Placeholder
  .placeholder-#{$name} {
    &::placeholder {
      color: $color;
    }
  }
}

@each $name, $color in $app-colors {
  // Base
  .text-app-#{$name} {
    color: $color !important;
  }
}

// }

[data-bs-theme='dark'] {
  @each $name, $color in $theme-text-colors {
    // Base
    .dark-text-#{$name} {
      color: $color !important;
    }

    // Hover
    .dark-text-hover-#{$name} {
      cursor: pointer;

      &:hover {
        color: $color !important;

        i {
          color: $color !important;
        }

        .svg-icon {
          path {
            stroke: $color;
          }
        }
      }
    }

    // Active Parent
    .dark-active-box {
      .active-parent-text-#{$name} {
        color: $color;
      }
    }

    // Placeholder
    .dark-placeholder-#{$name} {
      &::placeholder {
        color: $color;
      }
    }
  }

  .text-dark {
    color: #fff !important;
  }
}

// Letter Spacing
$letter-spacings: (
  'sm': -0.02rem,
  'base': 0.006rem
) !default;

@each $key, $value in $letter-spacings {
  // Base
  .ls-#{$key} {
    letter-spacing: $value !important;
  }
}

a {
  text-decoration: none;
}

// Text transparent
.text-transparent {
  color: transparent;
}

// Cursor pointer
.cursor-pointer {
  cursor: pointer;
}

// Cursor default
.cursor-default {
  cursor: default;
}

// Cursor move
.cursor-move {
  cursor: move;
}

// Text Ellipsis
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: var(--ellipsis-width);
  display: block;
  overflow: hidden;
}
