// Roboto Font
@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Black.ttf);
    font-weight: 900;
}

// Roboto Mono Font
@font-face {
    font-family: "Roboto Mono";
    src: url(../fonts/roboto-mono/RobotoMono-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Roboto Mono";
    src: url(../fonts/roboto-mono/RobotoMono-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Roboto Mono";
    src: url(../fonts/roboto-mono/RobotoMono-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Mono";
    src: url(../fonts/roboto-mono/RobotoMono-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto Mono";
    src: url(../fonts/roboto-mono/RobotoMono-Bold.ttf);
    font-weight: 700;
}


// Neue Machina Font
@font-face {
    font-family: "Neue Machina";
    src: url(../fonts/neue-machina/NeueMachina-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: "Neue Machina";
    src: url(../fonts/neue-machina/NeueMachina-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "Neue Machina";
    src: url(../fonts/neue-machina/NeueMachina-Ultrabold.otf);
    font-weight: 900;
}

html,
body {
    font-family: 'Roboto', sans-serif !important;
}

#app {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.flex-root {
    flex: 1;
}

.neue-machina {
    font-family: "Neue Machina";
}

.roboto-mono {
    font-family: "Roboto Mono";
}

.object-cover {
    object-fit: cover;
}

.auth-bg {
    background-position: top;
    background-size: cover;
    filter: grayscale(0);
    transition: filter linear 0.5s;

    &.error {
        filter: grayscale(1);
    }
}

.main-container {
    display: flex;
    flex: 1;
    padding: 1.5rem 0;
    position: relative;
    padding-left: calc(264px + 24px);
    transition: all linear .3s;
    // overflow: auto;

    .sidebar-click-box {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #e5e9ecbd;
        cursor: pointer;
        display: none;
        z-index: 9;
    }

    #sidebar {
        position: fixed;
        left: 1.5rem;
        height: calc(100vh - 1.5rem - 1.5rem);
        width: 264px;
        overflow: auto;
        padding: 1.25rem 0 1.5rem;
        border-radius: $border-radius-xxl;
        background: $white;
        border: 1px solid $gray-200;
        display: flex;
        flex-flow: column;
        overflow-x: hidden;
        transition: all linear .3s;
        gap: 2.5rem;

        .logo {
            margin-bottom: 2.75rem;
        }

        .logo-collapse {
            display: none;
            margin: auto;
            margin-bottom: 3.125rem;
        }

        .two-side-space {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            transition: all linear .3s;
        }

        .search-box {
            display: flex;
            align-items: center;
            position: relative;

            input {
                transition: all linear .3s;
            }

            svg {
                right: 1rem;
            }
        }

        .right-side-space {
            padding-right: 1.5rem;
        }

        .links {
            font-family: "Neue Machina";
            font-weight: 300;
            display: flex;
            flex-flow: column;
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;

            .link-box {
                display: flex;
                flex-flow: column;
                gap: 1rem;
            }

            .collapse-link {
                padding-right: 1.5rem;
                display: flex;
                justify-content: space-between;

                svg:not(.icon) {
                    transition: all linear .3s;
                    cursor: pointer;
                }

                svg[aria-expanded="true"] {
                    transform: rotateX(180deg);

                    path {
                        stroke: $primary;
                    }
                }
            }

            .collapse-box {
                .box {
                    margin-top: 1rem;
                    padding-right: 1.5rem;
                    display: flex;
                    flex-flow: column;
                    gap: 0.5rem;

                    .item {
                        color: $gray-800;
                        font-size: 1rem;
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;
                        height: 24px;
                        padding-left: 2rem;
                        border-radius: 0 .5rem .5rem 0;
                        transition: all linear .3s;
                        min-width: max-content;

                        span {
                            transition: all linear .3s;
                        }

                        &.router-link-exact-active {
                            background-color: $gray-200;
                        }
                    }
                }
            }

            .link {
                width: 100%;
                padding: 0 1.5rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                color: $gray-800;
                position: relative;
                min-width: max-content;
                cursor: pointer;
                transition: all linear .3s;

                span {
                    transition: all linear .3s;
                }

                &.router-link-exact-active {
                    color: $primary !important;

                    &::before {
                        content: "";
                        position: absolute;
                        display: flex;
                        bottom: 0;
                        top: 0;
                        left: 0;
                        width: .5rem;
                        border-radius: 0.313rem;
                        background-color: $primary;
                    }

                    .icon {
                        path {
                            stroke: $primary;
                        }
                    }
                }
            }

            .collapse-btn {
                svg {
                    transition: all linear .3s;
                }
            }

            .seprator-line {
                padding: 1.5rem;

                span {
                    height: 1px;
                    width: 100%;
                    background: $gray-200;
                    display: block;
                    transition: all linear .3s;
                }
            }
        }

        .user {
            display: flex;
            gap: .5rem;
            padding: .5rem 1rem .5rem .5rem;
            border-radius: $border-radius-pill;
            border: 1px solid $gray-200;
            transition: all linear .3s;

            .bullet {
                right: 0;
                top: 0;
                transition: all linear .3s;
            }

            .name,
            .balance {
                min-width: max-content;
                transition: all linear .3s;
            }
        }

        &.collapsed {
            width: 72px;
            padding: 1.625rem 0 1rem;

            .logo {
                display: none;
            }

            .logo-collapse {
                display: block;
            }

            .two-side-space {
                padding-left: 1rem;
                padding-right: 1rem;
            }

            .search-box {
                justify-content: center;

                input {
                    opacity: 0;
                }

                svg {
                    right: initial;
                }
            }

            .links {
                .collapse-box {
                    .box {
                        .item {
                            gap: 2rem;

                            span {
                                opacity: 0;
                            }
                        }
                    }
                }

                .link {
                    gap: 1.5rem;

                    span {
                        opacity: 0;
                    }
                }
            }

            .user {
                padding: 0;
                border-width: 0;
                gap: 1rem;

                .bullet {
                    top: -8px;
                }

                .name,
                .balance {
                    opacity: 0;
                }
            }
        }
    }

    #main {
        max-width: 1272px;
        width: 100%;
        // margin-left: calc(264px + 24px);
        // overflow: auto;
        transition: all linear .3s;
        padding: 1.5rem;

        #navbar-layout {
            header {
                a {
                    color: $gray-500;
                    font-size: $h2-font-size;
                    font-family: 'Neue Machina';

                    &:hover,
                    &.router-link-exact-active {
                        color: $primary;
                    }
                }
            }


        }
    }

    &.sidebar-close {
        #sidebar {
            .links {
                .collapse-btn {
                    svg {
                        transform: rotateY(180deg);
                    }
                }

                .seprator-line {
                    span {
                        height: 2px;

                    }
                }
            }
        }
    }

    @media (min-width: 992px) {
        &.sidebar-close {
            padding-left: calc(72px + 24px);
            #main {
                max-width: calc(1272px + 192px);
            }
        }

    }

    @media (max-width: 992px) {
        padding: 1rem 0;
        padding-left: calc(72px + 16px);

        &.sidebar-open {
            .sidebar-click-box {
                display: block;
            }
        }

        #sidebar {
            height: calc(100vh - 1rem - 1rem);
            left: 1rem;
            z-index: 10;
        }

        #main {
            padding: 1rem;
            // margin-left: calc(72px + 16px);
        }
    }

    @media (max-width: 768px) {
        #main {
            // overflow: auto;
        }
    }
}

.transition-all {
    transition: all linear .3s;
}

.both-side-line-title {
    align-items: center;
    display: flex;

    span {
        min-width: max-content;
        padding: 0 2rem;
        gap: 2rem;
        font-size: 1rem;
        font-weight: 500;
        display: flex;
        align-items: center;
    }

    &::before,
    &::after {
        content: "";
        background-color: $black;
        height: 1px;
        width: 100%;
    }
}

.application-card {
    transition: box-shadow linear .3s;
    .type {
        display: flex;
        align-items: center;
        height: 1.5rem;
        background-color: $gray-500;
        color: $white;
        border-radius: $border-radius;
        font-weight: 500;
        padding: 0 1.25rem;
    }

    .partners {
        display: none;
        align-items: center;

        .item {
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            padding: 1px;
            border-radius: $border-radius-xl;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }
    }

    &.have-partners:hover {
        .type {
            display: none;
        }

        .partners {
            display: flex;
        }
    }

    .name {
        display: flex;
        align-items: center;
        line-height: 2rem;
        margin-bottom: 0;
        svg {
            display: none;
        }
    }

    &.disabled {
        .name {
            color: $danger !important;
            svg {
                display: block;
            }
        }

        .infos {
            .item {
                .value {
                    color: $gray-700;
                }
            }
        }
    }

    .infos {
        width: 100%;
        display: flex;
        align-items: center;
        overflow: auto;

        .item {
            padding: 0 1.5rem;
            border-left: 1px solid $gray-500;
            display: flex;
            flex-flow: column;
            align-items: center;

            .value {
                font-size: $font-size-lg;
                margin-bottom: .5rem;
                color: $gray-800;
                font-family: 'neue machina';
            }

            .title {
                color: $gray-500;
                letter-spacing: .006rem;
                font-size: $font-size-sm;
                margin-bottom: 0;
                line-height: 1rem;
                min-width: 96px;
                text-align: center;
            }

            &:first-child {
                padding-left: 0;
                border: none;
            }
        }
    }

    &:hover {
        box-shadow: 0px 38px 30px -39px $gray-400;
    }

    @media (min-width: 992px) {
        .enter-btn {
            opacity: 0;
            transition: all linear .3s;
        }

        &:hover {
            .enter-btn {
                opacity: 1;
            }
        }
    }
}